<div class="header_wrapper">
    <div class="header-container">
        <div class="netflix--icon a">
            <img src="assets/netflix.svg" alt="netflix">
        </div>
        <div class="language-section">
            <div  class="language--container">
                <img src="assets/global.svg" alt="global-language">
                <div>
                    <select name="language-select" id="language-select">
                        <option value="en-IN">English</option>
                        <option value="hi-IN">Hindi</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="netflix--icon">
            <img src="assets/netflix.svg" alt="netflix">
        </div>
    </div>
</div>
